<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dundeeuniversity.attendanceappdesign" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentProfileActivity"
            android:label="@string/title_activity_student_profile" >
        </activity>
        <activity
            android:name=".StudentTimetableActivity"
            android:label="@string/title_activity_student_timetable" >
        </activity>
        <activity
            android:name=".StaffTimetableActivity"
            android:label="@string/title_activity_staff_timetable" >
        </activity>
        <activity
            android:name=".StaffProfileActivity"
            android:label="@string/title_activity_staff_profile" >
        </activity>
        <activity
            android:name=".StudentModuleActivity"
            android:label="@string/title_activity_student_module" >
        </activity>
        <activity
            android:name=".StaffModuleActivity"
            android:label="@string/title_activity_staff_module" >
        </activity>
        <activity
            android:name=".StaffStudentListActivity"
            android:label="@string/title_activity_staff_student_list" >
        </activity>
        <activity
            android:name=".StaffViewStudentActivity"
            android:label="@string/title_activity_staff_view_student" >
        </activity>
        <activity
            android:name=".ScanQRTestActivity"
            android:label="@string/title_activity_scan_qrtest" >
        </activity>
        <activity
            android:name=".StaffViewClassActivity"
            android:label="@string/title_activity_staff_view_class" >
        </activity>
        <activity
            android:name=".StudentViewClassActivity"
            android:label="@string/title_activity_student_view_class" >
        </activity>
        <activity
            android:name=".StaffCreateClass"
            android:label="@string/title_activity_staff_create_class" >
        </activity>
    </application>

</manifest>
